AddDefaultCharset UTF-8

RewriteEngine On
RewriteBase /phpproject1.local/

RewriteBase /
RewriteRule ^pages/(.+)$ http://phpproject1.local/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

Options -Indexes
Options -Includes
Options +FollowSymlinks
